body {
    background-color:#E8EBEE;
    color:#25282C;
    font-family: Arial, sans-serif;
    margin: 0;
}


p {
    font-size: 1em;
    line-height: 1.6;
}

h3 {
    color: #536B82;
    font-family: Georgia, serif;
}


.highlight {
    background-color: #D5DEE6;
    padding: 10px;
    border-left: 5px solid #536B82;
}



#main-heading {
    color: #F7F8F9;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}


.header {
    background-color: #30343B;
    color: white;
    text-align: center;
    padding: 30px;
}

.header h2 {
    color: white;
}

.main-content {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}

.footer {
    background-color: #2d3436;
    color: white;
    text-align: center;
    padding: 20px;
}




.box-model {
    background-color: #DDE3E8;
    border: 3px solid #535b82;
    margin: 30px 0;
    padding: 20px;
}

.profile-image {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    border: 4px solid #3d516c;
}


a {
    color: #536B82;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.main-button {
    background-color: #536B82;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

.main-button:hover {
    background-color: #3F5367;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #b2bec3;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #454B54;
    color: white;
}

tr:nth-child(even) {
    background-color: #EEF1F3;
}


.position-container {
    position: relative;
    background-color: #eee8ff;
    border: 2px solid #84a7f4ab;
    padding: 20px;
    min-height: 180px;
}

.static-box {
    position: static;
    background-color: #dfe6e9;
    padding: 15px;
    margin-bottom: 10px;
}

.relative-box {
    position: relative;
    left: 30px;
    background-color: #81afecc9;
    padding: 15px;
    width: 200px;
}

.absolute-box {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #a0cbfa;
    padding: 15px;
}



.float-container {
    background-color: #f0ebff;
    padding: 20px;
    overflow: auto;
}

.float-left {
    float: left;
    background-color: #74b9ff;
    padding: 20px;
    width: 35%;
    text-align: center;
}

.float-right {
    float: right;
    background-color: #75ccff7b;
    padding: 20px;
    width: 35%;
    text-align: center;
}

.clear {
    clear: both;
    padding-top: 20px;
    text-align: center;
}


form {
    background-color: #f0ebff;
    padding: 25px;
    border: 2px solid #54618b;
    border-radius: 10px;
}

input {
    margin-top: 5px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #626e7aa4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}